*{
    
}

.element{

    text-decoration: none;
    color: black;

}

/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================
                                                                                            Mobile
============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
@media only screen and (min-device-width : 320px) and (max-device-width : 599px) {
body{
    margin: 0;
    padding: 0;
    padding-top: 0.4%;
    background: url(files/f.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
}

.Lista1{
background: #ffffff;
text-align: center;
height: 90%;
width: auto;
border-radius: 12px;
margin-left: 15px;
margin-right: 15px;
padding: 15px 5px 15px 5px;
top:9px;
}

#parteCima #pendencia h1{
  margin-left: 480px;
  top: 20px;
}

#parteCima #btnVolta{
  margin-left: 50px;
  bottom: 20px;
}

.Lista2 h2{
  margin-left: 50px;
}

.button {
    background-color: #4CAF50;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div.Lista2{
    height: 96%;
    overflow: auto;
    width: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
table thead{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table tr {
  background-color: white;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  font-size: 12px;
  width: 10%;
  overflow: auto;
  
}
/*==========================================================================================================================================================================================================
Usuario
============================================================================================================================================================================================================*/
#fotousu{
    width: 40%;
    height: 30%;
    border-radius: 10px;
    background-color: #0000ff70;
}
.content3{
    overflow: auto;
    width: 100%;
    height:95%;
}
div#Usuario2{
    height: 9%;
    background-color: white;
    width: auto;
    border-radius: 30px;
    margin: -9% 30% 15% 30%;
}

div#nome{
    margin-top: 25%;
    height: 100%;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 95%;

}
#componentesChamado{
    width: 100%;
    height: 80%;
}
#tituloChave{
    float: left;
    margin-left: 2%;
    margin-right: 5%;
    font-weight: bold;
    color: #007bb0;

}

#tituloResumo{
    float: left;
    margin-left: 2%;
    margin-right: 3.4%;
    margin-top: 7%;
    font-weight: bold;
    color: #007bb0;

}
#tituloPrioridade{
    float: left;
    margin-left: 2%;
    margin-right: 2.2%;
    margin-top: 5%;
    font-weight: bold;
    color: #007bb0;

    
}
#tituloDescricao{
    float: left;
    margin-left: 2%;
    margin-right:2.2%; 
    margin-top: 8%; 
    font-weight: bold; 
    color: #007bb0;

}
#tituloTipo{
    float: right;
    margin-left: 0%;
    margin-right: 38%;
    margin-top: -6%;
    font-weight: bold;
    color: #007bb0;

}
#tituloSituacao{
    float: right;
    margin-left: 0%;
    margin-top: 5%;
    font-weight: bold;
    margin-right: 76%;
    color: #007bb0;

}
#elementoChave{
    margin-right: 48%;
}
#elementoResumo{
    margin-top: 7%;
    margin-right: 10%;
}
#elementoPrioridade{
    margin-top: 8%;
}
#elementoDescricao{
    margin-top: 8%;   
}
#elementoTipo{
    margin-top: -6%;
    float: right;
    margin-right: 14%;

}
#elementoSituacao{
    margin-top: -6%;
    float: right;
    margin-right: 54%;
}
}
/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================
                                                                                            iPads
============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 600px) and (max-device-width : 1223px) {
body{
    margin: 0;
    padding: 0;
    padding-top: 0.4%;
    background: url(files/f.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
}
.Lista1{
    background: #ffffff;
    text-align: center;
    height: 90%;
    width: auto;
    border-radius: 12px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 3%;
    padding: 15px 5px 15px 5px;
    top: -48px;
}
div.Lista2{
    height: 90%;
    overflow: auto;
}

#parteCima #pendencia h1{
  margin-left: 480px;
  top: 20px;
}

#parteCima #btnVolta{
  margin-left: 50px;
  bottom:  20px;
}

.Lista2 h2{
  margin-left: 50px;
}

.button {
    background-color: #4CAF50;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #009cde; 
    border-radius: 10px;
}
table thead{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table tr {
  background-color: white;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  font-size: 24px;
  width: 10%;
  overflow: auto;
  
}
#fotousu{
    width: 40%;
    height: 30%;
    border-radius: 10px;
    background-color: #0000ff70;
}
div#Usuario2{
    height: 5%;
    background-color: white;
    width: auto;
    border-radius: 0px 0px 36px 36px;
    margin: -1% 20% 10% 20%;
}

div#nome{
    margin-top: 2%;
    height: 100%;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 150%;

}
#componentesChamado{
    width: 100%;
    height: 80%;
}
#tituloChave{
    float: left;
    margin-left: 2%;
    margin-right: 5%;
    font-weight: bold;
    color: #007bb0;

}

#tituloResumo{
    float: left;
    margin-left: 2%;
    margin-right: 3.4%;
    margin-top: 7%;
    font-weight: bold;
    color: #007bb0;

}
#tituloPrioridade{
    float: left;
    margin-left: 2%;
    margin-right: 2.2%;
    margin-top: 8%;
    font-weight: bold;
    color: #007bb0;

    
}
#tituloDescricao{
    float: left;
    margin-left: 2%;
    margin-right:2.2%; 
    margin-top: 8%; 
    font-weight: bold; 
    color: #007bb0;

}
#tituloTipo{
    float: right;
    margin-left: 0%;
    margin-right: 61%;
    margin-top: -2%;
    font-weight: bold;
    color: #007bb0;

}
#tituloSituacao{
    float: right;
    margin-left: 0%;
    margin-top: -2%;
    font-weight: bold;
    margin-right: 58%;
    color: #007bb0;

}
#elementoResumo{
    margin-top: 7%;
}
#elementoPrioridade{
    margin-top: 8%;
}
#elementoDescricao{
    margin-top: 8%;   
}
#elementoTipo{
    margin-top: -2%;
    float: right;
    margin-right: 48%;

}
#elementoSituacao{
    margin-top: -2%;
    float: right;
    margin-right: 49%;
}
}
/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================
                                                                                            Desktops and laptops
============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
/* Desktops and laptops ----------- */
@media only screen  and (min-device-width : 1224px) and (max-device-width : 2560px) {
body{
    margin: 0;
    padding: 0;
    padding-top: 0.4%;
    background: url(files/f.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
}
.Lista1{
background: #ffffff;
height: 85%;
width: auto;
border-radius: 12px;
margin-left:13%;
margin-right: 13%;
margin-top: 3%;
padding: 15px 5px 15px 5px;
}
div.Lista2{
  width: 100%;
  height: 98%;
  overflow: auto;
}
::-webkit-scrollbar {
    width: 8px;
}

#parteCima #pendencia h1{
  margin-left: 480px;
  top: 20px;
}

#parteCima #btnVolta{
  margin-left: 50px;
  bottom: 20px;
  
}

.Lista2 h2{
  margin-left: 50px;
}

.imager{
  margin-left: 30px;
}

.button {
    background-color: #4CAF50;
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #009cde; 
    border-radius: 10px;
}
table thead{
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

table tr {
  background-color: white;
  padding: .35em;

}

table th,
table td {
  padding: .625em;
  font-size: 100%;
  overflow: auto;
  width: 33%;
  
}
#fotousu{
    width: 150px;
    height: 200px;
    border-radius: 10px;
    background: url();
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
} 
div#Usuario2{
    height: 6%;
    background-color: white;
    width: auto;
    border-radius: 0px 0px 36px 36px;
    margin: -1% 35% 1% 35%;
}
div#nome{
    margin-top: 4%;
    height: 100%;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 100%;

}
#componentesChamado{
    width: 100%;
    height: 80%;
}
#tituloChave{
    float: left;
    margin-left: 2%;
    margin-right: 5%;
    font-weight: bold;
    color: #007bb0;

}

#tituloResumo{
    float: left;
    margin-left: 2%;
    margin-right: 3.4%;
    margin-top: 7%;
    font-weight: bold;
    color: #007bb0;

}
#tituloPrioridade{
    float: left;
    margin-left: 2%;
    margin-right: 2.2%;
    margin-top: 8%;
    font-weight: bold;
    color: #007bb0;

    
}
#tituloDescricao{
    float: left;
    margin-left: 2%;
    margin-right:2.2%; 
    margin-top: 8%; 
    font-weight: bold; 
    color: #007bb0;

}
#tituloTipo{
    float: right;
    margin-left: 0%;
    margin-right: 61%;
    margin-top: -2%;
    font-weight: bold;
    color: #007bb0;

}
#tituloSituacao{
    float: right;
    margin-left: 0%;
    margin-top: -2%;
    font-weight: bold;
    margin-right: 58%;
    color: #007bb0;

}
#elementoResumo{
    margin-top: 7%;
}
#elementoPrioridade{
    margin-top: 8%;
}
#elementoDescricao{
    margin-top: 8%;   
}
#elementoTipo{
    margin-top: -2%;
    float: right;
    margin-right: 48%;

}
#elementoSituacao{
    margin-top: -2%;
    float: right;
    margin-right: 49%;
}
}





