    /*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================
                                                                                            Mobile
============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
@media only screen and (min-device-width : 320px) and (max-device-width : 599px) {
.usersideclass {
    width: 80%;
    margin-left: 10%;
    height: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 0px 0px 36px 36px;
    box-shadow: -webkit-box-shadow: 0px 3px 31px 5px rgba(0,0,0,1);
-moz-box-shadow: 0px 3px 31px 5px rgba(0,0,0,1);
box-shadow: 0px 3px 31px 5px rgba(0,0,0,1);;
  z-index: 2;
}

.usersideclass a {
   
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.usersideclass a:hover {
    color: #f1f1f1;
}

.usersideclass .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
div#nome{
    margin-top: 25%;
    height: 100%;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 95%;

}
.userclossclass{
  height: 100%;
  width: 100%;
  display: none;
  margin: 0px;
  position: fixed;
  z-index: 1;
}
}
/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================
                                                                                            iPads
============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 600px) and (max-device-width : 1223px) {
div#nome{
    margin-top: 2%;
    height: 100%;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 150%;

}
.usersideclass {
    width: 90%;
    margin-left: 5%;
    height: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 0px 0px 36px 36px;
    box-shadow: -webkit-box-shadow: 0px -33px 19px 30px rgba(0,0,0,0.61);
-moz-box-shadow: 0px -33px 19px 30px rgba(0,0,0,0.61);
box-shadow: 0px -33px 19px 30px rgba(0,0,0,0.61);
;
}

.usersideclass a {
   
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.usersideclass a:hover {
    color: #f1f1f1;
}

.usersideclass .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.userclossclass{
  height: 100%;
  width: 100%;
  display: none;
  margin: 0px;
  position: fixed;
  z-index: 1;
}
}
/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================
                                                                                            Desktops and laptops
============================================================================================================================================================================================================*/
/*==========================================================================================================================================================================================================

============================================================================================================================================================================================================*/
/* Desktops and laptops ----------- */
@media only screen  and (min-device-width : 1224px) and (max-device-width : 2560px) {
div#nome{
    margin-top: 1%;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 100%;

}
.usersideclass {
    width: 50%;
    margin: -0.4% 0% 0% 25%;
    height: 5%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 0px 0px 36px 36px;
    box-shadow: -webkit-box-shadow: 0px -39px 38px 37px rgba(0,0,0,0.16);
-moz-box-shadow: 0px -39px 38px 37px rgba(0,0,0,0.16);
box-shadow: 0px -39px 38px 37px rgba(0,0,0,0.16);;
  z-index: 2;
  padding: 0px 10px 0px 10px;
  top: auto;
}

.usersideclass a {
   
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.usersideclass a:hover {
    color: #f1f1f1;
}

.usersideclass .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.userclossclass{
  height: 100%;
  width: 100%;
  display: none;
  margin: 0px;
  position: fixed;
  z-index: 1;
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}
#Usuarioinform{
  font-size: 40px;
  font-family: 'Roboto Slab', serif;  height: 80%;
  width: 100%;
  display: none;
  top: 35px;
}
::-webkit-scrollbar {
    width: 0px;
}
#usuariofoto{
  height: 240px;
  width: 240px;
  background-color: #009cde;
  border-radius: 100%;
  text-align: center;
  margin: auto;
  color: white;
  padding: 4px;
  background: url(https://steamuserimages-a.akamaihd.net/ugc/852720452186678597/22C7CFDCB5B5EC19D0246DEF4EB298DB0A645BE8/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C637%3A358&composite-to=*,*%7C637%3A358&background-color=black);
  background-size: cover;
  background-position: center;
}
}